" --- Basic settings ---
set number relativenumber
set idearefactormode=keep
set clipboard=unnamedplus      " Share clipboard with system
set ideajoin                   " Enable :action mappings
set incsearch                  " Incremental search
set hlsearch                   " Highlight search results
set ignorecase smartcase       " Smarter searching

let mapleader = " "

" --- Better navigation ---
nnoremap <Leader>w :action FileStructurePopup<CR>  " show current file structure
nnoremap <Leader>o :action RecentFiles<CR>         " open recent files
nnoremap <Leader>e :action ShowErrorDescription<CR> " quick error popup

" --- Symbol & project search ---
nnoremap <Leader>s :action GotoSymbol<CR>          " search for symbols
nnoremap <Leader>c :action GotoClass<CR>           " search for classes
nnoremap <Leader>f :action GotoFile<CR>            " search for files
nnoremap <Leader>r :action SearchEverywhere<CR>    " universal search

" --- Code navigation ---
nnoremap <Leader>d :action GotoDeclaration<CR>     " jump to declaration
nnoremap <Leader>i :action GotoImplementation<CR>  " jump to implementation
nnoremap <Leader>u :action FindUsages<CR>          " find usages
nnoremap <Leader>b :action Back<CR>                " go back
nnoremap <Leader>n :action Forward<CR>             " go forward

" --- Refactoring & editing ---
nnoremap <Leader>R :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>F :action ReformatCode<CR>
nnoremap <Leader>l :action CommentByLineComment<CR>
vnoremap <Leader>l :action CommentByLineComment<CR>


" --- Misc ---
nnoremap <Leader>q :action CloseContent<CR>        " close current tab
nnoremap <Leader>p :action PasteMultiple<CR>       " paste from history

nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>

nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>

nnoremap <leader>ca :action ShowIntentionActions<CR>
