" --- Basic settings ---
set number relativenumber
set idearefactormode=keep
set clipboard=unnamedplus
set ideajoin
set incsearch
set hlsearch
set ignorecase smartcase

let mapleader = " "

" --- Better navigation ---
nnoremap <Leader>w :action FileStructurePopup<CR>
nnoremap <Leader>o :action RecentFiles<CR>
nnoremap <Leader>e :action ShowErrorDescription<CR>

" --- Symbol & project search ---
nnoremap <Leader>s :action GotoSymbol<CR>
nnoremap <Leader>c :action GotoClass<CR>
nnoremap <Leader>f :action GotoFile<CR>
nnoremap <Leader>r :action SearchEverywhere<CR>

" --- Code navigation ---
nnoremap <Leader>d :action GotoDeclaration<CR>
nnoremap <Leader>i :action GotoImplementation<CR>
nnoremap <Leader>u :action FindUsages<CR>
nnoremap <Leader>b :action Back<CR>
nnoremap <Leader>n :action Forward<CR>

" --- Refactoring & editing ---
nnoremap <Leader>R :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>F :action ReformatCode<CR>
nnoremap <Leader>l :action CommentByLineComment<CR>
vnoremap <Leader>l :action CommentByLineComment<CR>


" --- Misc ---
nnoremap <Leader>q :action CloseContent<CR>
nnoremap <Leader>p :action PasteMultiple<CR>

nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>

nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>

nnoremap <leader>ca :action ShowIntentionActions<CR>
